<div class = 'container'>
  <div class ="jumbotron">
    <h2> Historic Stock Data </h2>
  </div> 
  <%if @all_historic_data.present? %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th> Symbol</th>
          <th> Name</th>
          <th> Trade Date </th>
          <th> Trade Price </th>
          <th> Capture Time </th>

        </tr>
      </thead>
      <tbody>
      <% @all_historic_data.each do |stock_record| %>
        <% stock_record.each do |s| %>
          <tr> 
            <td> <%= s.symbol %> </td>
            <td> <%= s.name %> </td>
            <td> <%= (s.last_datetime).strftime('%d/%m/%y') %> </td>
            <td> <%= number_to_currency s.last_price %> </td>
            <td> <%= s.created_at.strftime('%d/%m/%y %H:%M:%S') %> </td>
          </tr>
        <%end%>
      <%end%>
      </tbody>
    </table>
  <%else %>
    <div class = "dialog">
      <h3> <%= I18n.t("no_historic_data") %> </h3>
    </div>
  <%end%>
</div>