<div class = 'container'>

  <div class = 'jumbotron'> 
    <h3> Stock Subscriptions </h3> 
  </div>   
  
  <div class = "row">
    <div class= 'pull-right'>
      <%= link_to 'Add Subscription', new_subscription_path, remote: true, class: "btn btn-primary", id: 'new-subscription-link' if current_user %>
    </div>
  </div>
  
  <div id = "row">
    <div class = "col-md-6">
      <div id="new-subscription-form"></div>
    </div>
    <div class = "col-md-6">
      <div id="edit-subscription-form"></div>
    </div>
  </div>

  <%if @subscriptions.present? %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th> Stock</th>
          <th> Manage Subscription</th>
        </tr>
      </thead>
      <tbody>
      <% @subscriptions.each do |s| %>
        <tr> 
          <td> <%= Stock.find(s.stock_id).label %> </td>
          <td> 
            <%= link_to 'Edit' , edit_subscription_path(s),
              id: "edit-subscription-link", remote: true %>
            <%= link_to 'Delete', subscription_path(s), method: :delete %> 
          </td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%else %>
    <div class = "row">
      <div class = "dialog">
        <h3> <%= I18n.t("add_subscriptions") %> </h3>
      </div>
    </div>
  <%end%>
</div>