<div class = 'container'>
  <div class ="jumbotron">
    <h2> Current Stock Data </h2>
  </div> 
  <h6 id="hd-updated" align="right">Last Updated at <%= DateTime.now.strftime('%d/%m/%Y %H:%M:%S') %></h6>

  <div class = "row">
    <div class="btn-group pull-right">
      <%=link_to 'Run Now', retrieve_current_data_path, class: 'btn btn-primary', id: 'run-now-button' %>
      <!-- prevent start and stop capture buttons appearing at the same time -->
      <%if SiteConfig.active.running_stop == true%>      
        <%=link_to 'Start Capture', start_capture_path(running_start: true, running_stop: false), class: 'btn btn-primary', id: 'start-capture-button' %>
      <%else %>
        <%=link_to 'Stop Capture', stop_capture_path(running_start: false, running_stop: true), class: 'btn btn-primary', id: 'stop-capture-button' %>
      <%end%>
    </div>
  </div>
  <%if quote_data.present? %>
    <table class='table current-data-table'>
      <thead>
        <tr>
          <th> Stock Symbol</th>
          <th> Stock Name</th>
          <th> Last Trade Price</th>
          <th> Last Trade Date and Time </th>
        </tr>
      </thead>
      <tbody>
      <% quote_data.each do |item| %>
        <tr class="<%= (item['Name'])[0..5] %>"> 
          <td> <%= item["Symbol"] %> </td>
          <td> <%= item["Name"] %> </td>
          <td> <%= number_to_currency item["LastTradePriceOnly"] %> </td>
          <% d = (DateTime.strptime(item["LastTradeDate"], "%m/%d/%Y")) %>
          <% date= d.strftime('%d/%m/%Y') %>
          <%time=item["LastTradeWithTime"].split(' -').first %>
          <td> <%= [date, time].join(' ') %> </td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%else %>
    <div class = "dialog">
      <h3> Service is currently unavailable </h3>
    </div>
  <%end%>
</div>