<div class ="jumbotron">
  <h2> Historical Data for <%=@search_item%> </h2>
</div> 
<table class='table table-striped'>
  <thead>
    <tr>
      <th> Date</th>
      <th> Open</th>
      <th> Low </th>
      <th> High </th>
      <th> Close </th>
    </tr>
  </thead>
  <tbody>
  <% @history_data.each do |item| %>
    <tr> 
      <td> <%= item["Date"] %> </td>
      <td> <%= number_to_currency item["Open"] %> </td>
      <td> <%= number_to_currency item["Low"] %> </td>
      <td> <%= number_to_currency item["High"] %> </td>
      <td> <%= number_to_currency item["Close"] %> </td>
    </tr>
  <%end%>
  </tbody>
</table>
