<div class ="jumbotron">
  <h2> Historical Data </h2>
</div> 
<table class='table table-striped'>
  <thead>
    <tr>
      <th> Stock Symbol</th>
      <th> Name</th>
      <th> Date </th>
      <th> Price </th>
      <th> Retrieval Time </th>

    </tr>
  </thead>
  <tbody>
  <% @all_data.each do |item| %>
    <% item.each do |i| %>
      <tr> 
        <td> <%= i.symbol %> </td>
        <td> <%= i.name %> </td>
        <td> <%= i.last_datetime %> </td>
        <td> <%= number_to_currency i.last_price %> </td>
        <td> <%= i.created_at.strftime('%d/%m/%y %H:%M:%S') %> </td>
      </tr>
    <%end%>
  <%end%>
  </tbody>
</table>
